.Products {
    background-color: black;
    color: white;
    padding: 20px;
}
.product {
    width: 500px;
    margin: 10px;
}
.product-card .card {
    margin: 20px;
    box-shadow: 0 0 20px #45f4ff;
    border-radius: 5px;
    height: 630px;
    padding: 20px;
    overflow-y:auto;
}
.product-card .card .card-content {
    padding: 5px;
    color: white;
    margin: 10px;

    p{
        padding: 2px;
    }
}
.product-card .card .price {
    width: 70px;
    height: 70px;
    font-weight: 600;
    font-size: 1.45rem;
    line-height: 70px;
    margin: 10px;
    position: absolute;
    top: 0;
    letter-spacing: 0;
}

.product-card .card-image img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}
.card-title {
    font-weight: 300;
    font-size: 2rem;
}
.chip {
    display: inline-block;
    padding: 0 10px;
    height: 32px;
    font-size: 13px;
    line-height: 32px;
    border-radius: 16px;
    background-color: #E0E0E0;
    margin: 5px 5px 5px 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.btn-floating.btn-large.price {
    background-color: #795548;
    width: 70px;
    height: 70px;
    font-weight: 600;
    font-size: 1.45rem;
    line-height: 70px;
    margin: 10px;
}
.material-icons {
    color: white; /* Ensure icons are white */
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.btn {
    padding: 0.5rem 1rem;
  margin: 0 0 0 0.5rem;
  border: 1px solid #45f4ff;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 17px;
  background: transparent;
  color: #45f4ff;
}
.cart-btn {
    padding: 0.5rem 1rem;
  margin: 0 0 0 0.5rem;
  border: 1px solid #45f4ff;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  font-size: 17px;
  background: transparent;
  color: #45f4ff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-btn:hover {
    background-color: #45f4ff;
    color: black;
}
.btn:hover {
    background-color: #45f4ff;
    color: black;
}

.Products .btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}