.Product {
    max-width: 1000px;
    margin: 0 auto;
    padding: 2rem;
    color: white;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    box-shadow: 0 0 20px #45f4ff;
    margin-top: 2%;
}

.Product h1 {
    font-size: 2rem;
    margin-top: 2rem;
    order: 2; 
}

.Product img {
    max-width: 100%;
    height: auto;
    margin-top: 1rem;
    order: 1; 
}

.Product p {
    margin-bottom: 1rem;
    line-height: 1.5;
    order: 2;
}

.Product p strong {
    font-weight: 600;
}

.Product .cart-btn {
    order: 4;
    margin-top: 20px;
    padding: 10px 20px;
    border:1px solid #45f4ff;
    background: transparent;
    color: #45f4ff;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

.Product .cart-btn:hover {
    background-color: #45f4ff;
    color: black;
}